$bg-blue: #00021f;
$light-blue: #00c3ff;

.navbar {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $bg-blue;
    color: #DADFF7;

    height: 100px;

    .logo {
        width: 200px;
        padding: 50px;
        margin-left: 20px;
        background-image: url("../../img/logotipo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .links {
        display: flex;
        gap: 50px;

        margin-right: 50px;

        list-style: none;

        li {
            :nth-child(1) { // the Link element
                text-decoration: none;
                color: $light-blue;
                font-size: 1.5rem;
                padding-inline: 10px;
                padding-block: 20px;
                border-radius: 20px;
                transition: 0.5s;

                &:hover {
                    background: lighten($bg-blue, 10);
                }
            }
        }
    }
}