$bg-blue: #00021f;
$light-blue: #00c3ff;

img {
    display: block;
    margin: 10px auto;
}

h2 {
    color: $bg-blue;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

h3 {
    color: $light-blue;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
