$bg-blue: #00021f;
$light-blue: #00c3ff;

footer {
    display: block;
    text-align: center;
    line-height: 90px;
    
    background: $bg-blue;
    color: #fff;
    
    margin-top: 90px;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;

    p {
        font-size: 32px;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: $light-blue;
            transition: .5s;
            border-radius: 30px;
            padding-block: 20px;
            padding-inline: 10px;

            &:hover {
                background: lighten($bg-blue, 5);
            }
        }
    }
}